[2019-10-27 08:13] Sandwichj opened #26 "[Enhance] Refactor native StyleSheet to style-components."
Enhancement derived from a discussion of https://github.com/dooboolab/hackatalk-mobile/issues/34, suggested by @hyochan

We should use [style-components](https://github.com/styled-components/styled-components), instead of `StyleSheet` of `react-native`, due to the following issues.
- More difficult to manage `StyleSheet` styles than `styled-components`.
- Hard to migrate common components coded by

[2019-10-27 08:20] hyochan commented on #26
@Sandwichj Thanks for organizing it. FYI, I've already installed `styled-component` in [this library](https://github.com/dooboolab/dooboo-ui-native/blob/cb0fa2f5a0f262db6c383c1c7c27d4e0ca2a2f1d/package.json#L32).

[2019-10-30 07:43] hyochan commented on #26
We are looking to support both for those who aren't using it.

- [x] Already installed `styled-component`.

- I have [answered](https://github.com/dooboolab/dooboo-ui-native/pull/27#issuecomment-547773126) your similar question in your `PR` given.

[2019-11-26 10:02] AbdulRehman197 opened #35 "[Accordion] How i am changing the arrows images position?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-26 11:41] hyochan commented on #35
Which one are you refering? There are few ui components in our list.

[2019-11-27 03:30] AbdulRehman197 commented on #35
I am talking  about arrow up and down  images  you have specified any type invisibleImage prop and visibleImage prop but there is not styling prop for these images

[2019-11-27 04:31] hyochan commented on #35
@AbdulRehman197 So you are talking about `Accordion`. I think it'd be better to refactor `images` into `element`. How do you think? I'll try to do this and come back to you.

[2019-11-27 04:54] hyochan commented on #35
I've just released `@dooboo-ui/native-accordion@4.0.0`. Would you like to try this and come back? I've exposed react `Element` instead of `ImageProps`.

[2019-11-27 04:56] #35 closed

[2019-11-27 05:11] hyochan opened #37 "[Feature] More ui components"
We are planning to support more UI components.
You can refer to the design in [following link](https://www.figma.com/file/0WDPu0Cn9upY1TQcLuhLev/prototype?node-id=7%3A0).

1. Select
     - https://material-ui.com/components/selects
2. Radio Button & Rating
    * Radio Button
       - https://material-ui.com/components/radio-buttons/
    * Rating
        - https://material-ui.com/components/rating

[2019-11-27 07:55] hyochan opened #38 "[Feature][Challenge] Supporting theme"
We'd like to provide the basic color palette and the ability to `theme` our component in light & dark mode.

[2019-11-29 16:15] hyochan commented on #38
[@dooboo-ui/native-theme](https://www.npmjs.com/package/@dooboo-ui/native-theme) has released.

[2019-11-29 16:15] #38 closed

[2019-11-30 01:22] Sandwichj opened #41 "[Feature] Slider component"
derived from https://github.com/dooboolab/dooboo-ui-native/issues/37

[Discussion for component interface and spec](https://github.com/dooboolab/dooboo-ui-native/issues/47)

## Goal

- Implementing Slider component with test codes
- Adding storybooks for Slider component and sub-components.
- Examples

## Hackatalk UI Design

- [https://www.figma.com/file/0WDPu0Cn9upY1TQcLuhLev/prototype?node-id=3

[2019-11-30 04:57] Sandwichj commented on #41
assignees

@daheeahn
@yongpilmoon
@cupid0824

[2019-11-30 05:19] daheeahn commented on #41
Please Assign me!

[2019-11-30 05:58] tony3918 commented on #41
please assign me :)

[2019-11-30 21:25] Sandwichj commented on #41
[Update] Arranged slider structure with sub-components.

[2019-12-01 02:55] dipsiiiiiiiiii commented on #41
Please assign me!😁

[2019-12-02 01:54] hyochan opened #45 "[Upgrade] Upgrade react-native to 0.61.5"
~~Since our project relies on UI components, I hope this can be migrated to `expo` project so we can upgrade the project more easily.~~

Since `expo` project depends on `package.json` main file, let's just keep going with the pure `react-native` project for now. Upgrade needed.

[2019-12-02 01:58] JongtaekChoi opened #46 "[Feature] Snackbars Component"
derived from #37

### Goal
Implementing `Snackbars` component with test codes
Adding storybooks for Slider component and sub-components.

### Examples
Hackatalk UI Design
https://www.figma.com/file/0WDPu0Cn9upY1TQcLuhLev/prototype?node-id=39%3A543
 Snackbars

### Material UI snackbars to refer
https://material-ui.com/components/snackbars
https://material.io/components/snackbars/

### Libraries
sty

[2019-12-02 04:44] Sandwichj opened #47 "[Discussion] Slider component interface"
derived from #41

This issue is to discuss [Slider] interface(like props) or others what [Slider] should have.

**CONTRIBUTORS**
- @YongPilMoon
- @tony3918
- @hankkuu
- @daheeahn
- @Sandwichj

<img src="https://user-images.githubusercontent.com/11019960/73301465-2d215000-4256-11ea-974f-e45be574a4a4.png" width="400" />
<img src="https://user-images.githubusercontent.com/11019960/73301499-3c080280-4

[2019-12-02 04:45] Yuni-Q commented on #41
Please Assign me!

[2019-12-02 17:02] marsinearth opened #50 "[Feature] AutoComplete"
derived from https://github.com/dooboolab/dooboo-ui-native/issues/37
### [Material UI AutoComplete Page](https://material-ui.com/components/autocomplete)

## Goal

- Implementing strictly typed AutoComplete component with test codes
- Adding storybooks for AutoComplete component and sub-components
*assigned to <a class="author link-gray-dark css-truncate-target width-fit" show_full_name="false" da

[2019-12-03 13:02] JeffGuKang opened #51 "[Feature Request] Radio Button"
Radio Button Component
- Radio Button

Ref: https://material-ui.com/components/radio-buttons/

from #37

**Describe the solution you'd like**

Create a new RadioButton component similar with [RadioButton](https://www.w3schools.com/tags/att_input_type_radio.asp) or [Material UI](https://material-ui.com/components/radio-buttons/)

[2019-12-04 01:50] JeffGuKang opened #53 "[Feature Request] Rating"
**Is your feature request related to a problem? Please describe.**

New Rating component related to #37.

**Describe the solution you'd like**

Ref: https://material-ui.com/components/rating
Do not use external library such as `react-native-vector-icon`.

**Describe alternatives you've considered**
-

**Additional context**
-

[2019-12-04 05:30] devethan commented on #53
I wanna take this.

[2019-12-04 05:40] yunjeongloper commented on #51
Me

[2019-12-04 06:41] Saehanseul commented on #51
I wanna assign

[2019-12-04 06:41] Saehanseul commented on #53
I wanna assign

[2019-12-04 17:04] hankkuu commented on #41
plz assign me

[2019-12-05 03:01] vanayun commented on #50
[RenderInput] assign me

[2019-12-05 15:47] tony3918 commented on #47
If possible, I would like to participate in testing the components

[2019-12-05 16:35] Sandwichj commented on #41
Updated [Slider task status](https://github.com/dooboolab/dooboo-ui-native/issues/47).
Please check the status before you start your new task.
When you choose a task, please let contributors know what task you would take, to prevent duplicated works.

[2019-12-05 16:53] Sandwichj commented on #47
@tony3918
Surprised by your enthusiasm!
You can take anything you want if the things are not in progress.
What component would you like to take? They are possible to work independently.

[2019-12-05 23:33] tony3918 commented on #47
Thank you @Sandwichj
Since Slider, Rail, and Track components are currently in progress, I'll go for testing Rail and Track

[2019-12-06 01:40] Sandwichj commented on #47
@tony3918
Great!
How about taking [Track] tests first?
They are possible to be implemented separately, though some test may not be possible to code.
And it gives a chance that someone could take [Rail] tests during you implement [Track] tests.
We can improve code and design step by step. (Code can't be implemented perfectly at once in programming as you know.)

Small code and many PRs are better i

[2019-12-06 05:20] tony3918 commented on #47
@Sandwichj Sounds perfect. Thanks for your guidance

[2019-12-06 08:04] imjihun commented on #50
[Render Option] assign me

[2019-12-07 04:45] Sandwichj commented on #41
Updated [Slider task status](https://github.com/dooboolab/dooboo-ui-native/issues/47).

[2019-12-07 05:36] dlgmltjr0925 opened #60 "[Feature] Select Component"
derived from #37

### GOAL
Implementing Selects component with test codes
Adding storybooks for Selects component and sub-components.

#### - Select component structure
 <img src="https://user-images.githubusercontent.com/33364619/70374854-d32d9980-193a-11ea-931a-320825f469aa.png" width="300" alt="Select Structure" />

#### 1. Implement props related to "Root" section. [assigned @geoseong]

- them

[2019-12-07 11:48] godon019 commented on #46
## Reference
- https://material.io/components/snackbars/
- [code to refer](https://github.com/xotahal/react-native-material-ui/blob/master/src/Snackbar/Snackbar.react.js)
- [behavior guide](https://material.io/components/snackbars/#behavior)

[2019-12-07 11:51] godon019 commented on #46
## Basic Todo
- [x] setup branch, maintain - by @JongtaekChoi
- [x] component setup - by @Ta2rim
- [x] story setup - by @Ta2rim
- [x] test setup - by @Ta2rim
- [x] short/long closing time - @godon019 is working on it!
  - [x] test - by @JongtaekChoi
- [x] add action test - by @Ryz0nd
- [x] consecutive snackbars - by @JongtaekChoi

Further Todo(feature) lists will be listed below as comments
any id

[2019-12-07 12:10] godon019 commented on #46
Assign me!

[2019-12-07 13:28] geoseong commented on #60
assign me no.1

[2019-12-07 13:45] smallbee3 commented on #60
Assign no.3 to me please.

[2019-12-07 14:14] taejs commented on #46
assign me

[2019-12-07 18:29] Sandwichj commented on #41
Updated [Rail] props. #47

[2019-12-08 03:22] jb9229 commented on #50
[Adding storybooks for AutoComplete component and sub-components] assign me

If you're together, please give me a DM.

[2019-12-08 04:21] yunjeongloper commented on #51
@Saehanseul Please write test code 😀

[2019-12-08 05:12] gimeoni commented on #60
Assign me no.2 :)

[2019-12-08 12:30] Sandwichj commented on #41
Updated [Slider task status](https://github.com/dooboolab/dooboo-ui-native/issues/47).

[2019-12-10 02:29] hmhm2292 commented on #50
[filter] assign me

[2019-12-10 20:04] IamN5 commented on #35
I think its related to this, when using a React Element instead of ImageProps the Accordion wont collapse or expand, no matter what "contentVisible" or "contentVisibleOnLoad" values are.

[2019-12-11 06:58] devethan commented on #53
@JeffGuKang @Saehanseul @yunjeongloper
I did refactoring [Rating] component and add README file. check it please.

[2019-12-11 08:03] hyochan opened #82 "[Feature Request] TinderCard"
Implement [TinderCard] like [react-native-deck-swiper](https://github.com/alexbrillant/react-native-deck-swiper)

Sample Images below.

![image](https://user-images.githubusercontent.com/27461460/70804371-a75a5a00-1df9-11ea-9b52-1f778bfc9b5a.png)

![image](https://user-images.githubusercontent.com/27461460/70804382-af19fe80-1df9-11ea-9bdb-f89d4e50574a.png)

[2019-12-11 08:07] hyochan opened #83 "[Feature Request] SwipeListItem"
Implement [SwipeListItem]
- Has ability to add swipe and show additional buttons

![image](https://user-images.githubusercontent.com/27461460/70602793-90203e80-1c38-11ea-99f4-9cd711b07438.png)

[2019-12-11 08:12] #26 closed

[2019-12-11 11:53] woojong92 commented on #46
assign me

[2019-12-12 06:13] sichan75 commented on #60
Assign me no.7 !

[2019-12-12 13:40] Theoblanc commented on #60
Assign me no.6

[2019-12-13 14:26] godon019 commented on #46
`[Feature]` alert when the text content is longer than 2 lines

[2019-12-13 14:29] godon019 commented on #46
`[Feature]` styling with shadow

[2019-12-13 14:32] godon019 commented on #46
`[Feature]` Action(purple color text in the screenshot)

- default click behavior might close snackbars
- will be at right side of snackbar when short
  ![image](https://user-images.githubusercontent.com/10363850/70807318-ac6ed780-1e00-11ea-96b6-28e3095cad25.png)

- then it will be at the bottom of it when long
  ![image](https://user-images.githubusercontent.com/10363850/70807386-ce685a00-1e00-11

[2019-12-13 14:34] godon019 commented on #46
`[Modify]` edit closing time to 4 and 10 secs

- current closing times are 1500ms(short) and 3000ms(long)

[2019-12-13 14:38] godon019 commented on #46
`[Feature]` Consecutive snackbars
- Multiple snackbars should be appear one by one(not showing more than one at a time)
- might need to use FIFO stack for implementing it
![consecutive](https://user-images.githubusercontent.com/10363850/70844268-0ebbec80-1e82-11ea-95b3-3bc1977236b5.gif)

[2019-12-13 15:08] hyochan commented on #46
@godon019 Please write in English~!

[2019-12-14 05:40] godon019 commented on #46
`[Feature]` `[Discuss]` Snackbars should appear above FABs
[example](https://material-ui.com/components/snackbars/#snackbars-and-floating-action-buttons-fabs)
- how to implement it when we have no implemented FABs yet? any ideas are welcome

[2019-12-14 05:53] godon019 commented on #46
~~`[Feature]` appear/disappear animation~~

![appear-animation](https://user-images.githubusercontent.com/10363850/70844302-6c503900-1e82-11ea-8764-baa019dce385.gif)

[2019-12-14 06:02] godon019 commented on #46
~~I will take [appear/dissapear animation](https://github.com/dooboolab/dooboo-ui-native/issues/46#issuecomment-565686928)!~~

[2019-12-14 11:43] woojong92 commented on #46
I will take [styling with shadow](https://github.com/dooboolab/dooboo-ui-native/issues/46#issuecomment-565460684)! :)

[2019-12-14 12:51] devethan commented on #82
me :)

[2019-12-15 04:55] Ryz0nd commented on #46
assign me

[2019-12-15 04:56] MoonKim-isMe commented on #46
I will take [alert when the text content is longer than 2 lines](https://github.com/dooboolab/dooboo-ui-native/issues/46#issuecomment-565459686)

[2019-12-15 05:35] devethan commented on #82
@hyochan Can I create this component on 'src/components/shared/TinderCard'?

[2019-12-15 11:44] hyochan commented on #82
Yes you should!

[2019-12-16 02:35] JongtaekChoi commented on #46
I think that It can be implemented by the user and we don't need to concerning it.

[2019-12-16 05:07] Ryz0nd commented on #46
I'll take [Action(purple color text in the screenshot)](https://github.com/dooboolab/dooboo-ui-native/issues/46#issuecomment-565461856)

[2019-12-17 16:55] #45 closed

[2019-12-18 01:38] JongtaekChoi commented on #46
I'll take  [Consecutive snackbars](https://github.com/dooboolab/dooboo-ui-native/issues/46#issuecomment-565464083)

[2019-12-19 14:07] m1m6 opened #97 "Elements hides after updating the state"
Hi
I have Accordion component, inside each visible element there's a checkbox select option, once i've checked any element and collapse the section, the section won't appear any more

here's my code
[code]

[2019-12-20 06:26] hyochan commented on #97
Could you share your code in somewhere runnable? Maybe expo snack?

[2019-12-20 11:23] m1m6 commented on #97
@hyochan check here: https://snack.expo.io/HkTcCm5CB
if i selected any item and collapsed the list, it won't appear anymore!
in another case if i opened the list and collapsed it without selecting any item, the items still can be listed.

[2019-12-22 09:23] hyochan commented on #97
@m1m6 I've just run your code locally and seems to be working as expected~!
![espB0PlQhc](https://user-images.githubusercontent.com/27461460/71319942-1ca7e800-24e8-11ea-972d-7d01d7cda915.gif)

[code]

[2019-12-23 15:40] m1m6 commented on #97
@hyochan Yes it works, but in my code you see there's an icon before each element (like a checkbox)
at line 289, so if you opened any group and selected any element, try to collapse the group it won't work as expected. So the issue only appears when i selecting any item. I guess something the render behaviour that should be handled?

[2019-12-25 15:45] hyochan commented on #97
@m1m6 Could you kindly record `gif` for me as I've done above?

[2019-12-29 05:54] JeffGuKang commented on #53
To do until Jan.5.2020

- [ ] Launch and test the component (New assign members)
- [ ] Apply addon-knobs to Storybook (‘@storybook/addon-knobs’)
- [x] Update README.md
- [x] Next feature suggestion here

[2019-12-29 05:55] JeffGuKang commented on #51
To do until Jan.5.2020

- [x] Launch and test the component (New assign members)
- [ ] Apply addon-knobs to Storybook (‘@storybook/addon-knobs’)
- [ ] Update README.md
- [ ] Next feature suggestion here

[2019-12-29 07:24] jinsunee commented on #51
me!!!

[2019-12-29 14:02] hyochan opened #109 "[Feature Request] FAB button"
Implement [Floating Action Button](https://stackoverflow.com/questions/30699302/android-design-support-library-expandable-floating-action-buttonfab-menu).

[2019-12-30 04:27] downy158 commented on #53
I wanna assign.

[2020-01-02 06:10] jinsunee commented on #83
me!!!!!!🙂

[2020-01-06 01:57] dlgmltjr0925 commented on #60
@Theoblanc @AddChan
I want to know your progress. Leave a comment.

[2020-01-08 13:18] jinsunee commented on #51
To do until Jan.15.2020

- [x] Launch and test the component (New assign members)
- [x] Apply addon-knobs to Storybook (‘@storybook/addon-knobs’)
- [x] Update README.md

[2020-01-08 13:20] downy158 commented on #53
Done
[x] Update README.md
[x] Launch and test the component (New assign members)

To do until Jan.15.2020
[] Apply addon-knobs to Storybook (‘@storybook/addon-knobs’)
[] Add ration animation

[2020-01-08 13:36] downy158 commented on #53
Done
- [x] Update README.md
- [x] Launch and test the component (New assign members)

To do until Jan.15.2020 with @devohno
- [ ] Apply addon-knobs to Storybook (‘@storybook/addon-knobs’)
- [ ] Update test code

[2020-01-21 14:30] #82 closed

[2020-01-28 02:45] seonghyeonkimm commented on #50
[RenderInput Placeholder] assign me

[2020-01-29 03:44] dlgmltjr0925 commented on #60
readme image url

![iphone_all](https://user-images.githubusercontent.com/33364619/73326221-cff8bf00-4294-11ea-9e3b-bed483305bd8.gif)
![android_all](https://user-images.githubusercontent.com/33364619/73326222-d0915580-4294-11ea-880e-4511956359e2.gif)
![iphone_dropdown](https://user-images.githubusercontent.com/33364619/73326238-d850fa00-4294-11ea-8049-4e02b67b33da.gif)
![android_dropdown](https://

[2020-01-29 05:46] hyochan opened #162 "logo"
![dooboo](https://user-images.githubusercontent.com/27461460/73331043-e5c2b000-42a5-11ea-9667-e33d4e02593f.png)

![dooboo-ui](https://user-images.githubusercontent.com/27461460/73331047-ea876400-42a5-11ea-9c9c-1c997eb961be.png)

[2020-01-29 05:46] #162 closed

[2020-01-29 05:58] marsinearth commented on #162
![image](https://user-images.githubusercontent.com/6101260/73331611-ad23d600-42a7-11ea-852f-d0e0e1d390d0.png)

Jägermeister?

[2020-02-21 16:16] #41 closed

[2020-02-21 16:16] #47 closed

[2020-02-24 03:13] nickbuc1 opened #178 "Accordion in FlatList: Header and Children disappear when typing content in <TextInput> in child"
**Describe the bug**
The Header and Children gradually disappear when collapsing / expanding the Accordion after typing text in <TextInput> of the child. The Accordion is in the RenderItem function of a flatlist.

Any suggestion on how to fix? I am thinking about setting up a fixed headerHeight.

**To Reproduce**
Steps to reproduce the behavior:
[code]

1. Display the content
2. Expand one of the

[2020-02-24 07:58] hyochan commented on #178
Could you kindly share your current behavior? Looks bit abstract to understand the current status.

[2020-02-24 11:07] nickbuc1 commented on #178
The first time Accordion is called, it displays the header properly, with the arrow icon. When typing on the header or arrow, it show the content of all the children, with the right contentHeight. However, when I enter any content into the fixed size TextInput boxes and tap again on the header, the accordion collapses, the children gets hidden but it hides a bit of the bottom of the header. If I t

[2020-02-24 12:46] hyochan commented on #178
@nickbuc1 Any demo movie or the picture you can share?

[2020-02-25 01:57] nickbuc1 commented on #178
@hyochan attached a set of pictures. Expand Collapse work well in the first 2 pictures. In picture 3, type in some text in the box. Collapsing works byt when trying to expand again in picture 5, the second item starts to disappear. As shown in the following pictures, the more you type the more the item disappears.
[accordion.zip](https://github.com/dooboolab/dooboo-ui-native/files/4247700/accordio

[2020-03-03 02:07] hyochan commented on #178
cc @JongtaekChoi

[2020-03-04 00:46] JongtaekChoi commented on #178
@nickbuc1
In your codes, the style of the Accordion has padding-top value 10. So calculated height is not enough to cover your children. I don't know why, but I found that the height of children decreases due to the influence of parent views when typing. As a result, each time the height of children is recalculated, the size of the parent view decreases and the height of the child view decreases a

[2020-03-07 19:54] nickbuc1 commented on #178
@JongtaekChoi
Changing the padding helps avoiding that the header disappears but did not help with avoiding that the content/child disappears. I think what happens is when typing text in a TextInput in a child, the size of the contentHeight gets recalculated but it seems that evt.nativeEvent.layout.height works only the first time and returns 0 afterwards. So the content has no height and never ge

[2020-03-12 15:15] #46 closed

[2020-03-12 15:16] hyochan commented on #50
@marsinearth How is this going?

[2020-03-12 15:16] hyochan commented on #51
@JeffGuKang How is this going?

[2020-03-12 15:17] hyochan commented on #53
@devethan How is the `todo` until `Jan 15` going?

[2020-03-12 15:18] hyochan commented on #60
Please give a `PR` to `master` if you think this is ready.

[2020-03-15 10:20] JeffGuKang commented on #51
@hyochan We will make PR ASAP.

[2020-03-19 07:36] JongtaekChoi opened #184 "Screen show nothing when using SnackbarProvider with react-navigation"
**Describe the bug**

When I wrapped ```NavigationContainer``` with the ```SnackbarProvider```, the screen did not show anything.

**To Reproduce**

Wrap NavigationContainer component of react-navigation like below.

[code]

**Expected behavior**

The child component shows normally.

**Screenshots**

![Simulator Screen Shot - iPhone 11 - 2020-03-19 at 16 32 23](https://user-images.githubuserconten

[2020-04-06 00:49] #51 closed

[2020-04-06 00:49] #178 closed

[2020-04-06 00:54] #184 closed

[2020-04-06 00:56] hyochan commented on #50
@marsinearth

[2020-04-07 16:27] FRizzonelli opened #188 "[Question] Actions payload in web addons"
Hello guys!

First of all, you're work is amazing! I'm basically trying to understand how to set up properly storybook for RN, as I need to do build something similar to your package.
Currently, I'm stuck with actions-addon on web-server. As you already discovered, you need to downgrade the version https://github.com/storybookjs/react-native/issues/24
I have another problem, when I tap on the devi

[2020-04-09 09:05] #37 closed

[2020-04-17 06:28] creat-or opened #189 "[Warning] useNativeDriver"
**Describe the bug**
From react-native 0.62 on it is required to give the option `useNativeDriver`. If not, every time there comes a warning like this:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a page with a switch toggle
2. You can see the warning

**Expected behavior**
No warning

**Additional context**
`@dooboo-ui/native-switch-toggle` version: `0.4.1`

[2020-04-25 11:06] #97 closed

[2020-04-27 08:01] JongtaekChoi opened #190 "SwitchToggle makes error if containderStyle be added without padding."
**Describe the bug**
When I set the containerStyle and circleStyle of SwitchToggle, I received an error message like below and it not works.
[code]

**To Reproduce**
Steps to reproduce the behavior:

Use SwitchToggle component like below.
[code]

**Expected behavior**
The SwitchToggle component works normally.

skipped

**Desktop (please complete the following information):**
skipped

**Smartphone

[2020-04-27 18:17] #109 closed

[2020-05-01 07:16] #83 closed

[2020-05-20 13:27] andreipfeiffer commented on #189
Prepared a PR for this:
https://github.com/dooboolab/dooboo-ui-native/pull/191

[2020-05-26 06:06] #53 closed

[2020-05-26 06:39] hyochan commented on #190
@JongtaekChoi Do you have any update on this?

[2020-05-26 06:39] hyochan commented on #189
Merged!

[2020-05-26 06:39] #189 closed

[2020-05-26 06:56] 27leaves commented on #189
Thank you, guys!

[2020-05-26 10:56] hyochan opened #194 "Plan for unifying dooboo-ui"
We want to move this project forward in order to make this usable.

**[History]**

We wanted to build our own UI library that fulfills our development environment (`typescript`, `jest`, `styled-components`, and so on).
The first target was `react-native` which was `@dooboo-ui/native`. We then planned to build a `react` UI library called `@dooboo-ui`. However, these days, [expo](http://github.com/e

[2020-05-26 12:26] JeffGuKang commented on #188
@FRizzonelli Actually I prefer to use storybook with web-server, especially when I need to control addons as knobs. So I only use navigating stories on deviceUI.
I need to check the latest storybook version for RN what is going on.

And I agree with you. Storybook for RN has not many information. But it hasn't been so long since it was separated to independent `storybookjs/react-native` project fr

[2020-05-26 12:42] FRizzonelli commented on #188
@JeffGuKang Thank you for your time :) I was able to fix the problem in the syntethic event, now is working properly. Yup, while working with knobs, using web-server is much better. Last big challenge for me is to deploy a dev version directly on test iPhones, which seems to be pretty hard :(

[2020-05-28 01:32] JeffGuKang commented on #188
@FRizzonelli I think testing on real devices is not hard to you 👍 . And I share my some scripts I am using.

[code]

[2020-05-28 03:21] hyochan commented on #194
Closes via #196

[2020-05-28 03:21] #194 closed

[2020-05-28 03:24] hyochan opened #197 "Implementation on web env"
Since #196 has been merged, we can drive forward to web implementation.

After we've tested implementing UI components in web, we can think of publishing our new packages and deprecate all previous `@dooboo-ui/native-*` packages.

## TODO
- [x] React (web) storybook implementation and publishing to github pages.
   - Reference
      * https://github.com/storybookjs/storybook/issues/2963
      * ht

[2020-05-28 03:24] hyochan commented on #197
cc @JeffGuKang

[2020-05-28 03:29] hyochan commented on #197
We can notify others on implementation after we finish up the storybook integration for `react`.

[2020-06-02 02:41] #197 closed

[2020-06-02 03:06] hyochan opened #199 "Accoridon improvement"
**Describe the bug**

Currently, the `Accordion` component doesn't work nicely in `dooboo-ui` web. Also, since `useNativeDriver` is now necessary, we need to migrate the component to work in `mobile` too.

**To Reproduce**

Test the `Accordion` component in both `web` and `ios` or `android` storybook

**Expected behavior**

Work as expected.[Accordion collapsible](https://github.com/oblador/react-

[2020-06-02 04:24] #188 closed

[2020-06-08 02:29] DevYuns commented on #199
I am interested in working on this. can you assign this to me?

[2020-06-11 06:33] JeffGuKang opened #202 "[Feature] Checkbox"
**Is your feature request related to a problem? Please describe.**

Feature request: Checkbox.

![image](https://user-images.githubusercontent.com/216363/84352949-31447d80-abf9-11ea-85cc-5938a68c48b1.png)
[source](https://material-ui.com/components/checkboxes/)

**Describe the solution you'd like**

- It muse have no dependencies.
- It must works with same style for all platforms.
- It must have a

[2020-06-12 01:21] hyochan commented on #199
Closes via #201 #205

[2020-06-12 01:21] #199 closed

[2020-06-12 01:23] hyochan commented on #50
@marsinearth

[2020-06-23 09:25] anaskhraza opened #210 "Switch Toggle Doesn't support RTL"
**Describe the bug**
On RTL switch toggle goes out of boundary as shown below. This bug is also reported in the following deprecated repo https://github.com/dooboolab/react-native-switch-toggle/issues/33

<img width="208" alt="64347044-e9eee800-cffb-11e9-9e19-cadd22c9ee35" src="https://user-images.githubusercontent.com/13957414/85386785-b2323c00-b54c-11ea-8f7d-27c3030c03f2.png">

**To Reproduce**

[2020-06-23 15:49] JeffGuKang commented on #210
Thank you for issue reporting. I will check ASAP.

[2020-06-24 08:38] JeffGuKang opened #212 "[Feature][ListItem] for lists as FlatList"
**Is your feature request related to a problem? Please describe.**
New Cell component for FlatList and others like [react-native-elements](https://react-native-elements.github.io/react-native-elements/docs/listitem.html).

**Describe the solution you'd like**
Create new feature called `Cell` or `ListItem`.

**Describe alternatives you've considered**
-

**Additional context**
- Do not use external

[2020-06-24 14:21] hyochan commented on #212
@JeffGuKang Since we are using `expo`, it is good idea not to use `react-native-vector-icons`. How about using [@expo/vector-icons](https://docs.expo.io/guides/icons/)? We can think of `dooboo-ui` as on top of [expo](expo.io) or [expo unimodules](https://github.com/unimodules/react-native-unimodules).

[2020-06-24 14:43] JeffGuKang commented on #212
Is it possible to use dooboo-ui without `unimodules` now? I am considering to use image for icons with customizable component if possible.

Cause https://github.com/expo/vector-icons says

[2020-06-24 15:52] hyochan commented on #212
Currently this is possible! We should avoid using vector icon then! If this is necessary we should make this into seperate package like @dooboo-ui/something

[2020-06-27 15:29] hyochan opened #217 "Improve [Accordion] v2"
We are currently refactoring `Accrodion` component and it won't be compatible with `dooboo-ui@0.0.1`.

Related works
- #211 #215 #216

There are some works left before the initial release.

**[Additional Improvements]**
1. Ability to add user-defined `style` in `Container` view of `AccordionItem`.
2. Refactor below code. I don't think we need `itemTitleLeft` and `itemBodyLeft`.
    ![image](https:

[2020-07-06 11:31] hyochan commented on #217
Temporarily closing this since #226 is merged although it isn't perfect.

[2020-07-06 11:31] #217 closed

[2020-07-06 11:32] hyochan commented on #210
@JongtaekChoi Can you also look into this one?

[2020-07-06 11:32] #190 closed

[2020-07-07 11:50] s-ong-c opened #230 "Compile error when using UI components after installing "dooboo-ui"."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

`First (General)`
1. using "dooboo-cli" or "expo-cli" create Project or anything React-Native projects
2. install dooboo-ui
3. components UI
[code]
4. See error

<img width="400" alt="스크린샷 2020-07-07 오후 8 19 50" src="https://user-images.githubusercontent.com/34743425

[2020-07-07 15:23] hyochan commented on #230
Related #229

[2020-07-08 01:08] s-ong-c commented on #230
@hyochan I also referred to #299 .So I solved the first problem(general Project) , but not the second(Environment like Storybook or gatsby Project).

[2020-07-08 01:35] hyochan commented on #230
Let's dig in!

[2020-07-09 12:54] hyochan commented on #230
@s-ong-c Do you think this should still be opened?

[2020-07-09 13:07] s-ong-c commented on #230
@hyochan  I think it should still be open.
Because I haven't... solved it yet. Be digging

[2020-07-13 15:22] JongtaekChoi commented on #210
@anaskhraza

Could you show me the details of the containerStyle and the circleStyle of your source code?
You've probably set the position of inner circle. But, SwitchToggle was not made in consideration of such a situation.
The inner circle is located to the right of the initial position if the switchOn value is true and it is located to the initial position if the value is false.

I think it wou

[2020-07-16 05:48] filoscoder opened #245 "[Feature][Select] component"
## I'll begin implementation of Select component following the idea derived from #60

#### Required
- [x] 1. Implement props related to "Root" section.
- [x] 2. Implement props related to "List" section.
- [x] 3. Implement a callback function when the list's visible state changes.
- [x] 4. Implement StoryBook Component

[2020-07-16 07:18] hyochan commented on #50
@marsinearth ??

[2020-07-18 09:09] hyochan commented on #210
Could you give a `PR` for such proposal?

[2020-07-19 08:37] anaskhraza commented on #210
@hyochan following is the containerStyle and circleStyle that I'm using

`switchCircle: {
        width: 10,
        height: 10,
        borderRadius: 10,
        backgroundColor: colors.white,
    },
    switchContainer: {
        width: 30,
        height: 15,
        borderRadius: 10,
        backgroundColor: colors.gray,
        padding: 2,
    },`

Since RTL mirror the application off positio

[2020-07-20 15:16] #210 closed

[2020-07-24 23:38] P-iknow opened #252 "There is an error when enter command yarn Javascript bundleing ."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-07-24 23:57] P-iknow opened #253 "Error occurs during javascript bundle becasue of invalid package path."
**Describe the bug**
 Error occurs during javascript bundle becasue of invalid package path.
![image](https://user-images.githubusercontent.com/35516239/88443612-e2bf0b80-ce53-11ea-9b7c-c2132ece78c6.png)

I found out why this error occurs. The reasons are as follows:
The package folder and the file extension(js -> tsx) were changed but were not reflected in the modules import and package.json.

**

[2020-07-25 00:37] p-iknow commented on #253
I miss understood, I forgot to run build. close issue

[2020-07-25 00:37] #253 closed

[2020-07-25 06:20] #252 closed

[2020-07-28 01:10] #245 closed

[2020-07-28 16:34] harwall opened #263 "Error when running "yarn add @dooboo-ui/core""
Hello. I hope this is the good place to report this.

**Describe the bug**
I was trying to install the component SwitchToggle (found here : https://github.com/dooboolab/dooboo-ui/tree/master/main/SwitchToggle)

I tried running "yarn add @dooboo-ui/core" as described on the link above. And the following error appeared :
error An unexpected error occurred: "https://registry.yarnpkg.com/@dooboo-ui%2f

[2020-07-28 17:03] hyochan commented on #263
Sorry, this should be `yarn add dooboo-ui`!

[2020-07-28 17:03] #263 closed

[2020-07-29 14:44] harwall opened #265 "Mistakes in the README : import instructions of Select"
Hello,

Not sure if I should report this here (as it's not really a bug report) but I believe there is a mistake in the examples given for "Select" in the README.

**It first says to write :**
import { Item, Select } from 'dooboo-ui';

**Then :**
import { Item, Select } from '../../main/Select';

**While I believe it should be :**
import {Item, Select} from 'dooboo-ui/Select';

This is the one tha

[2020-07-29 14:47] hyochan commented on #265
@harwall Thanks for the report!
@filoscoder Could you kindly look into this?

[2020-07-29 14:52] harwall commented on #265
Oupsie, forgot the URL to make it easier for you guys. Here you go.

https://github.com/dooboolab/dooboo-ui/tree/master/main/Select

First line of "Import" and first line of "usage"

[2020-07-29 18:46] #265 closed

[2020-07-29 18:47] hyochan commented on #265
Thanks for the report! I hope you try `dooboo-ui@0.0.12` and come back when you still face the problem.

[2020-07-29 23:27] harwall commented on #265
@hyochan
Thanks. "Select" works fine for me with 0.0.12 but I think you forgot to change this in the README ;)
![image](https://user-images.githubusercontent.com/26182082/88863613-8a955a00-d203-11ea-942f-448b912788c3.png)

Also, since I updated from 0.0.11 to 0.0.12 the import of "SwitchToggle" doesn't work anymore.
![image](https://user-images.githubusercontent.com/26182082/88863704-bdd7e900-d203

[2020-07-30 01:32] filoscoder commented on #265
Thank you for tracking these details! I'll take a quick look

[2020-07-30 14:48] harwall commented on #265
Still got the issue for 'SwitchToggle'.

I ran "yarn add dooboo-ui" once more and checked if the import example is the same as in my code.

[2020-07-30 15:17] hyochan commented on #265
@harwall Sorry for that. Could you try `0.0.14` and come back?

[2020-07-30 15:55] hyochan commented on #265
@harwall Actually, the `paths` were not organized well so I've done the refactor in #270.

I've just released `0.0.15`. Hope you can try that.

[2020-07-31 08:15] harwall commented on #265
Works fine for me now. Thanks a lot :)

[2020-08-01 05:01] oh3vci opened #272 "[Feature] How about adding duration prop to the LoadingIndicator component?"
**Is your feature request related to a problem? Please describe.**

To make the LoadingIndicator component disappear, it have to rely on the elements outside of it.
And it doesn't have animating prop of ActivityIndicator for solving this problem.

**Describe the solution you'd like**

It is disappeared after the time entered.

**Describe alternatives you've considered**

Add duration prop of numbe

[2020-08-01 05:11] hyochan commented on #272
Well the idea of this element was to provide more customized utilities over [ActivityIndicator](https://reactnative.dev/docs/activityindicator).

Your idea can be done conditionally outside the element.
[code]

Furthermore, I think your idea can be applied to components such as [AlertDialog](https://fqk.io/bootstrap-alert-dialog/).

[2020-08-01 05:24] oh3vci commented on #272
@hyochan Then, how about using duration prop for maximum time of showing the LoadingIndicator? It is also unnecessary?

[2020-08-01 06:03] hyochan commented on #272
Hm.. well I think you can give a proposal and try out. Come to think of it again, I think this can be helpful.

[2020-08-01 06:45] oh3vci commented on #272
@hyochan Ok. I will try it.

[2020-08-01 06:45] #272 closed

[2020-08-01 12:28] JeffGuKang opened #274 "first PR test fail: `[error]Resource not accessible by integration`"
**Describe the bug**
PR test is always failed by GitHub Actions in first contribution.

refs: https://github.com/actions/first-interaction/issues/10

Example PR: https://github.com/dooboolab/dooboo-ui/runs/934834176

[code]
**To Reproduce**
Steps to reproduce the behavior:

1. fork this repository
2. make PR
3. github action test failed

**Expected behavior**
A clear and concise description of wha

[2020-08-01 12:41] JeffGuKang commented on #274
@hyochan How about to remove the action?

[2020-08-01 13:20] hyochan commented on #274
Hm. This is not clear to me since we didn't setup any `first-interaction` setup in github action. Do you have any idea how we can resolve this?

[2020-08-01 13:44] JeffGuKang commented on #274
It looks a kind of bug as https://github.com/actions/first-interaction/issues/10.
I will check and update the issue whether we got same testing result or not
whenever people create first PR.

[2020-08-01 13:56] hyochan commented on #274
![image](https://user-images.githubusercontent.com/27461460/89103093-3c25cc80-d44a-11ea-91a2-69deeed449b7.png)

We only have greetings installed. I am not sure how to remove this.

[2020-08-01 14:00] JeffGuKang commented on #274
`Greetings` is using `first-interaction` action as I linked above. I will make PR to remove this after some investigation tomorrow.

[2020-08-01 14:01] hyochan commented on #274
Sounds great!

[2020-08-01 14:03] #274 closed

[2020-08-01 14:04] hyochan commented on #274
@JeffGuKang Just removed it!

[2020-08-02 01:37] JeffGuKang commented on #274
Solved: https://github.com/dooboolab/dooboo-ui/commit/535adaa61e085bccb225f07bf320c11f4e705ced

[2020-08-02 04:45] minseungseon opened #281 "Test failed in snapshot"
**Describe the bug**
yarn testing fails in  packages/__tests__/CalendarCarousel.test.tsx

**To Reproduce**
1. `$yarn jest packages/__tests__/CalendarCarousel.test.tsx`

2. Then I get following error message.
[code]

**Expected behavior**
This test failure seems to be happening only in my terminal.

**Screenshots**
X

**Desktop (please complete the following information):**

- OS: [mac OS]

**Smart

[2020-08-02 04:47] LUYOES opened #282 "Password character ellipsis issue."
**Describe the bug**
password character ellipsis issue.

**To Reproduce**
Steps to reproduce the behavior:
ios test
1. Please enter your password.
2. Clear your password and re-enter it.
3. You can see that the characters are omitted.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-08-02 04:47] JeffGuKang commented on #281
I think this issue is related to localization.

[2020-08-02 04:48] hyochan commented on #281
Oh yes! We should fix test `env` to `English`. This would be a good contribution.

[2020-08-13 05:36] oh3vci opened #302 "'react-native-svg' module is not contained in the library dependencies."
**Describe the bug**
'react-native-svg' module is not contained in the project dependencies.

**To Reproduce**
Steps to reproduce the behavior:

1. install dooboo-ui
2. import SwitchToggle Component in my project
3. it shows unable to resolve module error.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Simulator Screen Shot - iPhone 11 - 2020-08-13 at 14 31 27](htt

[2020-08-14 03:58] JongtaekChoi commented on #302
Thanks for your report.
I would like to add 'react-native-svg' and 'styled-components' to the library dependencies.
@hyochan How do you think about this?

[2020-08-14 06:13] hyochan commented on #302
How about adding peerDependency? Our goal is however not to make too many deps too.

[2020-08-17 13:10] oh3vci opened #305 "[Feature][DatePicker]"
**Is your feature request related to a problem? Please describe.**
Feature request: DatePicker

- box for floating date picker

![image](https://user-images.githubusercontent.com/20278777/90400500-88723d00-e0d7-11ea-903d-c25c5e6ef38b.png)

- date picker

![image](https://user-images.githubusercontent.com/20278777/90399050-4ba54680-e0d5-11ea-9251-aaf15951b71d.png)

[source](https://material-ui.com/

[2020-08-17 15:44] hyochan commented on #305
@oh3vci What a wonderful issue. I am not quite sure how the implementation could look like. In addition to that, I'd like to inform you that `CalendarCarousel` currently isn't working nicely in `android` especially with dragging. I am not quite sure but when it has swiped right, it intermittently cancel the event to move the calendar.

@shljessie We might have to add `scrollable` props to disable

[2020-08-18 09:16] shljessie commented on #305
@hyochan  Yes I'll look into that!
@oh3vci I'm afraid that our CalendarCarousel currently doesn't have a date-picker feature.
Currently this is what our Calendar Carousel looks like in dooboo-ui. Sorry the readme.md hasn't been updated. If you want to add a date-picker function I'm afraid you'll have to create one in addition to the darkmode feature that the calendar image above seems to have. I'm

[2020-08-18 13:04] #282 closed

[2020-08-19 18:13] harwall opened #311 "[Select] not working on Android"
**Describe the bug**
The select feature works perfectly on IOS but I simply can't get it to work on Android.

I can open and close it but nothing happens when I click on an option. Once again, it's working perfectly on ios.

**To Reproduce**
I followed the instructions as written here : [https://github.com/dooboolab/dooboo-ui/tree/master/main/Select](url)

And this is my code.

[code]

**Expected

[2020-08-20 08:51] JongtaekChoi commented on #311
This issue related to [this issue](https://github.com/facebook/react-native/issues/27232). If select items are visible, those are out of the parent view(Container of the Select) and it's not touchable now at the android platform. And related pr is waiting for merge. Regardless of this, we are trying to fix it as well in another way.

[2020-08-20 12:10] harwall commented on #311
Thanks for the answer. By any chance do you have the link to the pr waiting for merge ?

[2020-08-20 14:50] JinleeJeong commented on #202
**Goal**

- Implementing CheckBox component with test codes
- Adding storybooks for CheckBox component and sub-components.

**It must need all check.**

The indeterminate property can help you to achieve a 'check all' effect.

![image](https://user-images.githubusercontent.com/45163013/90787222-7561a600-e33f-11ea-912a-3a491b7cb16a.png)

**Library**

- [styled-components](https://www.styled-compone

[2020-08-21 06:56] JongtaekChoi commented on #311
The pr is [here](https://github.com/facebook/react-native/pull/29039).

[2020-08-21 09:13] harwall commented on #311
Thanks a lot !

[2020-08-21 15:21] JongtaekChoi commented on #302
I think #310 solved this problem.
So I will close this issue.
If you think that it's not solved, please reopen it.
Thanks.

[2020-08-22 02:41] greatSumini opened #313 "[Feature] Card"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
a Card component : Simple rectangular container.
- title, subtitle, coverImage support
- loading, disabled, raised status support
- styling

![Screen Shot 2020-08-22 at 11 38 23 AM](https://user-images.githubusercontent.com/48555121/90946852-ff0e9200-e46b-11ea-9a76-dee48f2aec46.png)

[go f

[2020-08-22 04:11] bumjoo commented on #305
I wanna set the calendar to the top of the screen when selecting a date.
Can I use **@react-native-community/react-native-modal** ?

If not, can you recommend any other way to set the calendar to the top?

[2020-08-22 04:31] shljessie commented on #305
@bumjoo If you are using the Calendar for your personal project idont think using @react-native-community will be a problem ! But if you are trying to contribute that to doobooui I’ll ask @hyochan @JongtaekChoi   Just for clarification, how the Calendar Carousel is structured is stated here https://link.medium.com/xXdNQ7Li98. The SafeAreaView is the largest wrapper container you could put elements

[2020-08-22 05:05] hyochan commented on #305
I hope you to use [official modal](https://reactnative.dev/docs/modal) only. Our motivation for `dooboo-ui` is to create things pure as much as possible.

[2020-08-24 08:32] JongtaekChoi opened #316 "[Feature] PinchZoom"
**Describe the solution you'd like**
A simple component that makes child components easily zoomable.
1. It should have the ability to zoom in child component by the open two fingers gesture at both `android` and `ios` platform.
2. It should also have the ability to zoom out child components by closing two fingers gesture.
3. If the gesture is ended, the child components should freeze and the scale

[2020-08-27 13:02] JeffGuKang commented on #313
@greatSumini Thanks to suppose the new Feature.

[2020-08-27 13:04] JeffGuKang commented on #202
@JinleeJeong Thanks to take this feature. I assigned you.

[2020-08-30 06:35] JeffGuKang commented on #202
@hyochan I found that you implemented the `CheckBox` component in #320. And some contributors are making `CheckBox` also as https://github.com/dooboo-ui-turtle/dooboo-ui/tree/turtle/Checkbox.

It could be better to do not update by yourself more cause other contributors will do that ASAP. 😃

[2020-08-30 16:40] hyochan commented on #202
@JeffGuKang Followed that. Sorry that I've missed this thread is being continued! Actually, @JinleeJeong, you can just refer to the implementation and you may completely re-design it if you want to build up your own thing.

The current implementation is still roughly developed so any breaking changes or destruction is fine either as long as there is communication 😃

[2020-08-31 11:19] #316 closed

[2020-09-03 13:41] hyochan commented on #230
@s-ong-c Could you give any news on this issue?

[2020-09-03 13:41] hyochan commented on #50
Closing due to inactivity.

[2020-09-03 13:41] #50 closed

[2020-09-03 13:41] hyochan commented on #60
Closing due to inactivity.

[2020-09-03 13:41] #60 closed

[2020-09-03 14:16] s-ong-c commented on #230
@hyochan  Sorry for the late reply.
I think you can close this issue.

Also, if we get to this content, we will open an issue.

[2020-09-03 14:16] #230 closed

[2020-09-08 06:32] JeffGuKang opened #322 "Set storybook server that makes controllable iOS and Android stories on the webbrowser"
**Is your feature request related to a problem? Please describe.**
It will improve dev environment.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

- Test latest storybooks including not stable versions.
- Test storybook control on the web brower with storybook Knobs.
- Install react-native-storybook and react-native-storybook-server with optimal

[2020-09-12 09:47] #313 closed

[2020-09-12 15:17] #202 closed

[2020-09-13 05:18] JeffGuKang opened #335 "[Checkbox][Web] outline style glitch"
**Describe the bug**

Checkbox border has glitches on the web environment.

**To Reproduce**
Steps to reproduce the behavior:

1. `yarn web`
2. Check the `Checkbox` story

**Expected behavior**

All outlines must be uniform.

**Screenshots**

<img width="525" alt="image" src="https://user-images.githubusercontent.com/216363/93010774-ec026400-f5ca-11ea-8667-c7f0db9a5fcf.png">

**Desktop (please com

[2020-09-13 07:14] JeffGuKang commented on #305
#332 is merged. But it doesn't support web environment yet.

[2020-09-13 07:18] JeffGuKang opened #337 "[DatePicker] Date, locale mocking error"
**Describe the bug**

Tests always fail due to date issues.

**To Reproduce**
Steps to reproduce the behavior:

`npx jest DatePicker --coverage`

**Expected behavior**

Mock date to specific day for test.

**Screenshots**

[code]
**Desktop (please complete the following information):**

X

**Smartphone (please complete the following information):**

X

**Additional context**

X

[2020-09-13 07:20] #305 closed

[2020-09-13 07:21] JeffGuKang opened #338 "[Feature][DatePicker] Support web environment"
**Is your feature request related to a problem? Please describe.**

`DatePicker` should support web environment.

**Describe the solution you'd like**

X

**Describe alternatives you've considered**

X

**Additional context**

X

[2020-09-13 07:37] JeffGuKang commented on #337
I think it will be solved by mocking as like

[code]

[2020-09-13 09:31] oh3vci commented on #337
Because date values are used a lot in test cases, I set a standard date instead of using spyOn.

[2020-09-13 10:59] #335 closed

[2020-09-13 14:02] bumjoo opened #345 "[Question] How can I swipe down to close the PinchZoomSliderModal?"
Hello.

PinchZoomSliderModal seems to be a useful component for displaying multiple images.

By the way, is there a way to close the PinchZoomSliderModal by swiping down or up?

Like most apps that display multiple images such as KakaoTalk, Facebook and Instagram,
I'd like to have the ability to close it with a swipe down in pinch zoom.

[2020-09-13 14:03] hyochan commented on #345
Oh.. good question! This isn't currently implemented :(

[2020-09-14 06:56] JeffGuKang commented on #337
@oh3vci It is not solved yet. Snapshots change everyday.

[2020-09-14 12:45] JeffGuKang commented on #337
`spyOn` is not working with `Date`.

Related issues:
- https://github.com/facebook/jest/issues/2234
- https://github.com/facebook/jest/issues/6972

I finally mocked `global.Date` through

[code]

But I couldn't mocking `toLocaleString`.

Already tried

1. jest.spyOn
[code]
2. [installing full-icu for node 12 and earlier](https://stackoverflow.com/a/56624712/515932): not working

[2020-09-14 14:54] JeffGuKang commented on #337
I think it's good to exclude snapshots from the Datepicker test.

[2020-09-15 08:12] 0916dhkim opened #350 "[Button] Documentation Is Outdated"
**Describe the bug**
Props table and examples are not in sync with the actual source code of `Button` component.

https://github.com/dooboolab/dooboo-ui/blob/93d7e602c6bc0a42fa0696b7240392900612cf45/main/Button/README.md#L9-L27

https://github.com/dooboolab/dooboo-ui/blob/93d7e602c6bc0a42fa0696b7240392900612cf45/main/Button/README.md#L147-L171

https://github.com/dooboolab/dooboo-ui/blob/93d7e602c

[2020-09-15 10:52] 0916dhkim commented on #337
@JeffGuKang How about we add `today` as a props for `DatePicker`? That would eliminate the need for mocking `global.Date`, and also allow us to use snapshot testing.

[2020-09-15 13:36] JeffGuKang commented on #350
It's your hawk's eye! I'll be wating for your PR.

[2020-09-15 13:38] JeffGuKang commented on #281
#338 is related issue. How about to write test codes without comparison snapshot?

[2020-09-15 13:53] 0916dhkim commented on #350
@JeffGuKang Leave it to me, chief! I'll open a PR when I'm ready. Just wanted to make sure that I'm not missing anything here.

[2020-09-16 00:51] JeffGuKang commented on #337
But I couldn't control `locale` in dooboo-ui node environment for testing.
It seems to be dependent on the user's OS.

For example,

https://github.com/dooboolab/dooboo-ui/blob/29d45036764e2ab79566b13e6bb99a35d291d78b/main/DatePicker/Calendar/CalendarWeekDays.tsx#L37-L62

Weekdays would be 'Mon', 'Tue'... in `en-EN`. But in Korean OS, this appears to be '월', '화'...
And we cannot control locale man

[2020-09-16 07:59] JeffGuKang commented on #337
We can except validation from specific area of snapshots through [`matcher`](https://jestjs.io/docs/en/using-matchers). It can be the one of the solutions.

[2020-09-16 09:48] 0916dhkim commented on #337
@JeffGuKang I suggest we use `react-intl` package for internationalization instead of `toLocaleString` and add `today` props to `DatePicker` component. `react-intl` (from FormatJS) allows developers to wrap components with `IntlProvider`, so we can provide `{ locale: 'en' }` for testing and provide user-specific locale for production.

Here's the relevant documentation : https://formatjs.io/docs/g

[2020-09-16 10:04] oh3vci commented on #337
As adding locale prop to component, I implemented already this approach without `react-intl`. Can you check this? #347

[2020-09-16 14:10] 0916dhkim commented on #337
@oh3vci It looks good to me. So I guess we just need to test `DatePicker` with `locale` and `today` props defined.
BTW do we have any timezone related issue with `DatePicker` snapshot testing?

[2020-09-16 15:32] oh3vci commented on #337
I think timezone issue is already solved problem,
because I set **en** to the value of the locale prop that is the locale parameter of toLocaleString method in test code.
So the test snapshot will no longer be affected by the OS.

[2020-09-17 00:12] JeffGuKang commented on #337
@oh3vci Did you try locale props with 'kr-KR' or other timezones when you test? Did it work as like '월', '화'...?

[2020-09-17 00:45] 0916dhkim commented on #337
@JeffGuKang I tried setting `locale` props to `ko-KR` in storybook. Korean characters show up correctly on web, but it does not work on Android. The same thing happens for `locale="es-ES"`.

[2020-09-17 04:53] oh3vci commented on #337
Isn't it 'ko-KR', not 'kr-KR'?

I guess it seems to be another bug of android or storybook. it works well in iOS.

[2020-09-17 05:47] JeffGuKang commented on #337
@oh3vci How about testing environment? Testing is not work as expectation with locale control or mocking.

[2020-09-17 07:13] 0916dhkim commented on #337
@JeffGuKang `locale` props works inside jest.
I tested this first,
[code]
then this,
[code]
Here's the snapshot diff:
[code]

[2020-09-17 07:39] JeffGuKang commented on #337
@0916dhkim Cool. We can use snapshot test again for DatePicker.

[2020-09-17 11:54] oh3vci commented on #337
Maybe, [this](https://github.com/facebook/react-native/issues/29824) is related issue in android.

[2020-09-20 10:48] #350 closed

[2020-09-20 10:50] JeffGuKang commented on #337
@oh3vci It is working well now with #351. 👍

[2020-09-20 10:50] #337 closed

[2020-09-20 12:42] oh3vci commented on #338
It seems to be related to Modal of `react-native` is not working well in web.

[2020-09-22 00:28] JeffGuKang commented on #281
Here's a way to compare snapshots of specific parts only.
https://jestjs.io/docs/en/snapshot-testing#property-matchers

[2020-09-23 06:22] JeffGuKang opened #353 "[Select] is using react-native-svg module"
**Describe the bug**

Unable to resolve module `react-native-svg` for `dooboo-ui` v0.0.18.
`Select` component is using react-native-svg.

**To Reproduce**
Steps to reproduce the behavior:

1. Install dooboo-ui v0.18 without `react-native-svg`
2. Run
3. Error

**Expected behavior**

Remove `react-native-svg` from `Select` Component or move the component to `packages` folder managed by lerna.

**Scr

[2020-09-23 07:10] JongtaekChoi commented on #353
This issue is similar with #302.
I think we need to replace the `svg` to another image format like `png`.

[2020-10-02 15:12] hyochan commented on #353
It is not a good idea to put all the images inside the `lib`. How about adding them to `required` props and use them in `storybook` only.

[2020-10-13 14:25] JeffGuKang opened #360 "[Badge] Custom size"
**Is your feature request related to a problem? Please describe.**

We cannot change the `Badge` size. It is not fit with small icon.

**Describe the solution you'd like**

`Badge` would accept style or size props.

**Describe alternatives you've considered**

The `size` property could control width and height.

**Additional context**

X

[2020-11-12 02:12] JeffGuKang opened #363 "[Rating] customize image"
**Is your feature request related to a problem? Please describe.**

We want to use custom image for **Rating** instead of the default start image.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

The Rating component could show the images from a image property.

**Describe alternatives you've considered**
A clear and concise description of any alte

[2020-12-21 06:03] hyochan commented on #202
Looks like this lovely feature is missing in our [storybook](https://dooboolab.github.io/dooboo-ui/?path=/docs/components-accordion--example)

[2021-01-16 12:11] #322 closed

[2021-01-16 12:11] #311 closed

[2021-01-16 12:11] #212 closed

[2021-01-16 12:11] #345 closed

[2021-02-20 22:58] #353 closed

[2021-04-29 11:37] hcphoon01 opened #380 "React Native SVG in components"
**Describe the bug**
After installing dooboo ui by running `npm install dooboo-ui` I had to manually install the `@emotion/native` and `react-native-svg` packages. When trying to use the Accordion and Search components I get an unable to resolve module error in react native svg.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Import SearchInput/Accordion component from dooboo-ui
2.

[2021-05-25 07:10] hyochan commented on #380
Could you try installing required package?
`yarn add react-native-svg`